*/xcuserdata*
DerivedData
.DS_Store
*.ilk
*.aps
*.user
*.ipch
*.user
*/Debug/*
bin/*.txt
bin/*.dat
*.exe
*.dll
*.sdf
lib/*
*.opensdf
*.suo
*..exe
*.cfg
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
